body {
    margin-bottom: 200vh;
}
.parent {
    position: relative;
}
.narrative {

}
.narrative-item {
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 80vh;
    color: #ccc;
    transition: color 200ms;
}
.narrative-item.active {
    background: rgba(0, 0, 0, 0.1);
    color: black;
}
.sticky-outer {
    position: absolute;
    height: calc(100% + 200vh);
    width: 100%;
    top: -80vh;
    left: 0;
    z-index: -1;
}

.chart {
    width: 100%;
    height: 100vh;
    background: rgb(228, 228, 228);
    padding: 100px;
    box-sizing: border-box;
    text-align: center;
    font-size: 30px;
}